.DS_Store
*.swp
tags
.idea/
.nova
.ignore
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/protoc
var
Makefile.custom.mk
Makefile.defaults.custom.mk

/dotnet/.vs
/dotnet/**/bin
/dotnet/**/obj
/dotnet/**/*.user

/dotnet/PocMessaging.Adapter.ProtocolBufferSerializer/protoc.exe
/dotnet/PocMessaging.Adapter.ProtocolBufferSerializer/Generated/Message.cs
/dotnet/PocMessaging.Adapter.ProtocolBufferSerializer/Generated/Duration.cs